.card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    width: 100%;
  }
  input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
  }
}

.gasolina {
  background-color: #28A744;
  color: white;
}

.diesel {
  background-color: #007BFF;
  color: white;
}
